generate
build
build*
.log
.DS_Store
.pyc
wrappers/rustpsnd/target
docs/html
__pycache__
*.out
*.err
scripts/examples/*_tmp
_scripts
# don't include scripts/examples in repository!!!
examples 
# thirdpart
tests/solver_compare_universal/runs/
tests/resume_mode/*/runs/
tests/resume_mode/sharc_molcas_h2s/MOLCAS.resources
tools
AGENTS.md
